@import 'tailwindcss';
@import './fonts.css';

:root {
  --color-primary: #f7374f;
  --color-secondary: #e4e4e4;
  --color-tertiary: #b13bff;
  --color-auxilary: #ffcc00;
  --color-surface-primary: #161616;
  --color-surface-secondary: #07080d;
  --color-surface-tertiary: #303030;
  --color-surface-auxilary: #707070;
}

@theme {
  /* COLORS */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-auxilary: var(--color-auxilary);
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-tertiary: var(--color-surface-tertiary);
  --color-surface-auxilary: var(--color-surface-auxilary);

  /* FONTS */
  --font-tomorrow: 'Tomorrow', sans-serif;
  --font-sans: 'Inter', sans-serif;

  /* TEXT SIZES */
  --text-2xs: 0.625rem;
  --text-md: 0.8125rem;
}

@layer base {
  body {
    @apply min-h-svh w-full;
  }
}

@utility reverse-drop-shadow {
  filter: drop-shadow(var(--color-primary) 0px -5px 5px);
}

@utility glow {
  filter: drop-shadow(var(--color-primary) 0px 0px 5px);
}

@utility cut-corners {
  corner-shape: superellipse(0);
}

/* For all browsers */
@utility no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* For Chrome, Safari, and Opera */
@utility no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .selected-mission {
    @apply bg-linear-to-r from-primary/10 to-primary/5;
  }

  .router-link-exact-active {
    @apply border-primary bg-surface-tertiary glow;
  }
}
