@import 'tailwindcss';
@import './fonts.css';

:root {
  --color-primary: #f7374f;
  --color-secondary: #e4e4e4;
  --color-tertiary: #333333;
  --color-surface-primary: #161616;
  --color-surface-secondary: #07080d;
  --color-surface-tertiary: #303030;
  --color-surface-auxilary: #707070;
}

@theme {
  /* COLORS */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-tertiary: var(--color-surface-tertiary);
  --color-surface-auxilary: var(--color-surface-auxilary);

  /* FONTS */
  --font-tomorrow: 'Tomorrow', sans-serif;
  --font-sans: 'Inter', sans-serif;

  /* TEXT SIZES */
  --text-2xs: 0.625rem;
}

@layer base {
  body {
    @apply min-h-svh w-full;
  }
}

@utility reverse-drop-shadow {
  filter: drop-shadow(var(--color-primary) 0px -5px 5px);
}

@utility glow {
  filter: drop-shadow(var(--color-primary) 0px 0px 5px);
}

@utility cut-corners {
  corner-shape: superellipse(0);
}

.router-link-exact-active {
  @apply border-primary bg-surface-tertiary glow;
}