@import 'tailwindcss';
@import './fonts.css';

@theme {
  --color-crimson: oklch(65.5% 0.235 25.5);
  --font-tomorrow: "Tomorrow", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-image: radial-gradient(circle, #000, #170a0b);
    @apply min-h-svh w-full;
  }
}

@utility reverse-drop-shadow {
  filter: drop-shadow(var(--color-crimson) 0px -5px 5px);
}

@utility glow {
  filter: drop-shadow(var(--color-crimson) 0px 0px 5px);
  /* F7374F */
}
